/* Default CSS settings */
@import "download/download";
@import "footer";
@import "header";
@import "extra/flexbox";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,  sans-serif;
  background: url(/static/background.jpg) no-repeat center center fixed;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgb(0, 0, 0);
  background-size: cover;
}

html {
  overflow-x: hidden;
}

.disable-scrolling {
  overflow: hidden;
  height: 100%;
}

.font-3x {
  font-size: 3em !important;
}