@import '../../color/colors';
@import "mixins/videoInformationHeader";

.video-information-box {
  display: none; /* Initially no video has been set */
  color: $base-dark-dark;
  background: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.51);
  border-radius: 0.5em;
  transition: 0.2s;

  span {
    font-size: .85em;
  }


  .video-information-header {
    @include videoInformationHeader;
  }

  video.video-information-video {
    width: 40vw;
    height: 100%;
    padding: 0.25em;
  }
}