
@import "mixins/videoInformationHeader";


.video-column-wrapper {
  word-wrap: anywhere;
  color: $base-dark-dark;
  padding-top: 1em;
  padding-bottom: 1em;

  .video-column-divider {
    margin: .35em 0; /* Space out the Bootstrap <hr> more */
  }

  .video-column {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.51);
    background: white;
    border-radius: 0.5em;
    transition: 0.2s;
    height: 100%;


    // top image and header
    .video-column-header {
      @include videoInformationHeader;
    }


    // bottom half
    .video-column-desc {
      font-size: 75%;

      .video-column-table {
        word-wrap: normal;

        th, td {
          padding: .7em;
        }
      }

      .video-column-desc-bottom {

        .video-column-desc-desc {
          line-height: 1em;
          font-size: 65%;
        }

        line-height: 1.5em;
      }
    }


    // right static image and hoverable icon
    .col-md-5 {
      padding-left: .225em;
      padding-right: 0;

      .video-column-video {
        display: flex;
        height: 100%;
        padding: 1em;

        .video-column-image {
          transition: .6s;
          background: url(/static/background.jpg) no-repeat;
          background-size: cover;

          &:hover {
            transform: scale(1.1);
          }
        }

        .video-column-play-button {
          position: absolute;
          top: 40%;
          left: 43%;
          transition: .6s;
          opacity: 0;

          &:hover {
            opacity: .85;
            transform: scale(1.15);
          }
        }
      }
    }


    &:hover {
      transform: scale(1.025);
    }
  }
}


@media only screen and (max-width: 1200px) {
  .video-column-wrapper {
    .video-column {

      // top image and header
      .video-column-header {

        .video-column-header-img {
          width: 1em;
        }
      }
      // right static image and hoverable icon
      .video-column-video .video-column-play-button {
          display: none;
        }
    }
  }
}