@mixin blackButton {
  border-color: #007bff;
  background-color: black;
  color: white;
}


.recently-downloaded-page {
  text-align: center;
  background-color: #f8f9fa;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;


  &.rd-grid-container {
    display: grid;
    grid-template-areas: "menu menu menu right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right" "main main main right right right";
    grid-gap: 1.5em;
    padding: .5em;


    .rd-grid-information {
      font-size: 1em;
      grid-area: menu;
    }

    .rd-grid-list {
      grid-area: right;
      padding-right: 1em; // add space between the list and the right edge of the page
    }

    .rd-grid-video {
      transition: 0.8s;
      grid-area: main;
      position: sticky;
      top: 3.5em;
      height: 1px;

      .fa-bookmark {
        display: none; // do not show bookmark in video view
      }
    }
  }

  .multi-page-clicked {
    @include blackButton;

    &:focus {
      @include blackButton;
      box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.5);
    }

    &:hover {
      @include blackButton;
    }
  }
}

// Small devices
@media only screen and (max-width: 1200px) {
  .row.video-column.video-button {
    margin-left: 0.25em;
  }

  .recently-downloaded-page {
    &.rd-grid-container {
      display: unset;
      grid-template-areas: unset;

      .rd-grid-information {
        grid-area: unset;
        font-size: 55%;

        h1 {
          font-size: 2em;
          padding-top: .5em;
        }
      }

      .rd-grid-list {
        grid-area: unset;
      }

      .rd-grid-video {
        grid-area: unset;
        position: unset;
        top: unset;
        height: auto;
      }
    }
  }
}